# Lab 4: Data Imputation using an Autoencoder

**Deadline**: Thursday, June 18, 11:59pm

**Late Penalty**: There is a penalty-free grace period of one hour past the deadline. Any work that is submitted between 1 hour and 24 hours past the deadline will receive a 20% grade deduction. No other late work is accepted. Quercus submission time will be used, not your local computer time. You can submit your labs as many times as you want before the deadline, so please submit often and early.

**TA**: Chris Lucasius

In this lab, you will build and train an autoencoder to impute (or "fill in") missing data. 

We will be using the
Adult Data Set provided by the UCI Machine Learning Repository [1], available 
at https://archive.ics.uci.edu/ml/datasets/adult.
The data set contains census record files of adults, including their
age, martial status, the type of work they do, and other features. 

Normally, people use this data set to build a supervised classification
model to classify whether a person is a high income earner.
We will not use the dataset for this original intended purpose.

Instead, we will perform the task of imputing (or "filling in") missing values in the dataset. For example,
we may be missing one person's martial status, and another person's age, and
a third person's level of education. Our model will predict the missing features 
based on the information that we do have about each person.

We will use a variation of a denoising autoencoder to solve this data imputation
problem. Our autoencoder will be trained using inputs that have one categorical feature artificially
removed, and the goal of the autoencoder is to correctly reconstruct all features,
including the one removed from the input.

In the process, you are expected to learn to:

1. Clean and process continuous and categorical data for machine learning.
2. Implement an autoencoder that takes continuous and categorical (one-hot) inputs.
3. Tune the hyperparameters of an autoencoder.
4. Use baseline models to help interpret model performance.

[1] Dua, D. and Karra Taniskidou, E. (2017). UCI Machine Learning Repository [http://archive.ics.uci.edu/ml]. Irvine, CA: University of California, School of Information and Computer Science.


### What to submit

Submit a PDF file containing all your code, outputs, and write-up. You can produce a PDF of your Google Colab file by going to File > Print and then save as PDF. The Colab instructions have more information (.html files are also acceptable).

Do not submit any other files produced by your code.

Include a link to your colab file in your submission.

## Colab Link

Include a link to your Colab file here. If you would like the TA to look at your
Colab file in case your solutions are cut off, **please make sure that your Colab
file is publicly accessible at the time of submission**.

Colab Link: https://drive.google.com/file/d/14I8MGiXJSOEIojyz6ZPWO09Fk2CuhNJN/view?usp=sharing

In [62]:
import csv
import numpy as np
import random
import torch
import torch.utils.data

## Part 0

We will be using a package called `pandas` for this assignment. 

If you are using Colab, `pandas` should already be available.
If you are using your own computer,
installation instructions for `pandas` are available here: 
https://pandas.pydata.org/pandas-docs/stable/install.html

In [63]:
import pandas as pd

# Part 1. Data Cleaning [15 pt]

The adult.data file is available at `https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data`

The function `pd.read_csv` loads the adult.data file into a pandas dataframe.
You can read about the pandas documentation for `pd.read_csv` at
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [41]:
header = ['age', 'work', 'fnlwgt', 'edu', 'yredu', 'marriage', 'occupation',
 'relationship', 'race', 'sex', 'capgain', 'caploss', 'workhr', 'country']
df = pd.read_csv(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",
    names=header,
    index_col=False)

In [42]:
df.shape # there are 32561 rows (records) in the data frame, and 14 columns (features)

(32561, 14)

### Part (a) Continuous Features [3 pt]

For each of the columns `["age", "yredu", "capgain", "caploss", "workhr"]`, report the minimum, maximum, and average value across the dataset. 

Then, normalize each of the features `["age", "yredu", "capgain", "caploss", "workhr"]`
so that their values are always between 0 and 1.
Make sure that you are actually modifying the dataframe `df`. 

Like numpy arrays and torch tensors, 
pandas data frames can be sliced. For example, we can
display the first 3 rows of the data frame (3 records) below.

In [43]:
df[:3] # show the first 3 records

,age,work,fnlwgt,edu,yredu,marriage,occupation,relationship,race,sex,capgain,caploss,workhr,country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States

Alternatively, we can slice based on column names, 
for example `df["race"]`, `df["hr"]`, or even index multiple columns 
like below.

In [44]:
subdf = df[["age", "yredu", "capgain", "caploss", "workhr"]]
subdf[:3] # show the first 3 records

   age  yredu  capgain  caploss  workhr
0   39     13     2174        0      40
1   50     13        0        0      13
2   38      9        0        0      40

Numpy works nicely with pandas, like below:

In [45]:
np.sum(subdf["caploss"])

2842700

Just like numpy arrays, you can modify
entire columns of data rather than one scalar element at a time.
For example, the code  

`df["age"] = df["age"] + 1` 

would increment everyone's age by 1.

# Code for question 1a) :

In [46]:
metric_headers = ["age", "yredu", "capgain", "caploss", "workhr"]

print('Original dataframe: {}\n'.format(df))

for item in metric_headers: 
    
    # Print metric values that were requested
    print('Information for header: {} \n'.format(item))
    print('Minimum value of header: {}, is {}'.format(item, np.min(df[item])))
    print('Maximum value of header: {}, is {}'.format(item, np.max(df[item])))
    print('Average value of header: {}, is {}\n'.format(item, np.average(df[item])))
          
    # Normalize the data
    total = sum(df[item])
    df[item] = df[item] / total
        
          
print('\nNormalized dataframe: {}'.format(df))

Original dataframe:        age               work  fnlwgt          edu  yredu  \
0       39          State-gov   77516    Bachelors     13
1       50   Self-emp-not-inc   83311    Bachelors     13
2       38            Private  215646      HS-grad      9
3       53            Private  234721         11th      7
4       28            Private  338409    Bachelors     13
...    ...                ...     ...          ...    ...
32556   27            Private  257302   Assoc-acdm     12
32557   40            Private  154374      HS-grad      9
32558   58            Private  151910      HS-grad      9
32559   22            Private  201490      HS-grad      9
32560   52       Self-emp-inc  287927      HS-grad      9

                  marriage          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capgain  caploss  workhr         country
0         Male     2174        0      40   United-States
1         Male        0        0      13   United-States
2         Male        0        0      40   United-States
3         Male        0        0      40   United-States
4       Female        0        0      40            Cuba
...        ...      ...      ...     ...             ...
32556   Female        0        0      38   United-States
32557     Male        0        0      40   United-States
32558   Female        0        0      40   United-States
32559     Male        0        0      20   United-States
32560   Female    15024        0      40   United-States

[32561 rows x 14 columns]

Information for header: age

Minimum value of header: age, is 17
Maximum value of header: age, is 90
Average value of header: age, is 38.58164675532078

Information for header: yredu

Minimum value of header: yredu, is 1
Maximum value of header: yredu, is 16
Average value of header: yredu, is 10.0806793403151

Information for header: capgain

Minimum value of header: capgain, is 0
Maximum value of header: capgain, is 99999
Average value of header: capgain, is 1077.6488437087312

Information for header: caploss

Minimum value of header: caploss, is 0
Maximum value of header: caploss, is 4356
Average value of header: caploss, is 87.303829734959

Information for header: workhr

Minimum value of header: workhr, is 1
Maximum value of header: workhr, is 99
Average value of header: workhr, is 40.437455852092995


Normalized dataframe:             age               work  fnlwgt          edu     yredu  \
0      0.000031          State-gov   77516    Bachelors  0.000040
1      0.000040   Self-emp-not-inc   83311    Bachelors  0.000040
2      0.000030            Private  215646      HS-grad  0.000027
3      0.000042            Private  234721         11th  0.000021
4      0.000022            Private  338409    Bachelors  0.000040
...         ...                ...     ...          ...       ...
32556  0.000021            Private  257302   Assoc-acdm  0.000037
32557  0.000032            Private  154374      HS-grad  0.000027
32558  0.000046            Private  151910      HS-grad  0.000027
32559  0.000018            Private  201490      HS-grad  0.000027
32560  0.000041       Self-emp-inc  287927      HS-grad  0.000027

                  marriage          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex   capgain  caploss    workhr         country
0         Male  0.000062      0.0  0.000030   United-States
1         Male  0.000000      0.0  0.000010   United-States
2         Male  0.000000      0.0  0.000030   United-States
3         Male  0.000000      0.0  0.000030   United-States
4       Female  0.000000      0.0  0.000030            Cuba
...        ...       ...      ...       ...             ...
32556   Female  0.000000      0.0  0.000029   United-States
32557     Male  0.000000      0.0  0.000030   United-States
32558   Female  0.000000      0.0  0.000030   United-States
32559     Male  0.000000      0.0  0.000015   United-States
32560   Female  0.000428      0.0  0.000030   United-States

[32561 rows x 14 columns]

# Answers for question 1a) :

The code associated for these explanations can be found above. 

Information for header: age 

Minimum value of header: age, is 17
Maximum value of header: age, is 90
Average value of header: age, is 38.58164675532078

Information for header: yredu 

Minimum value of header: yredu, is 1
Maximum value of header: yredu, is 16
Average value of header: yredu, is 10.0806793403151

Information for header: capgain 

Minimum value of header: capgain, is 0
Maximum value of header: capgain, is 99999
Average value of header: capgain, is 1077.6488437087312

Information for header: caploss 

Minimum value of header: caploss, is 0
Maximum value of header: caploss, is 4356
Average value of header: caploss, is 87.303829734959

Information for header: workhr 

Minimum value of header: workhr, is 1
Maximum value of header: workhr, is 99
Average value of header: workhr, is 40.437455852092995

### Part (b) Categorical Features [1 pt]

What percentage of people in our data set are male? Note that the data labels all have an unfortunate space in the beginning, e.g. " Male" instead of "Male".

What percentage of people in our data set are female?

In [47]:
# Total elements in sex column
total_ele = len(df["sex"])
total_fem = sum(df["sex"] == " Female")

print("Percentage of females in the data set: {}%".format(round((total_fem / total_ele)*100, 2)))

Percentage of females in the data set: 33.08%

### Part (c) [2 pt]

Before proceeding, we will modify our data frame in a couple more ways:

1. We will restrict ourselves to using a subset of the features (to simplify our autoencoder)
2. We will remove any records (rows) already containing missing values, and store them in a second dataframe. We will only use records without missing values to train our autoencoder.

Both of these steps are done for you, below.

How many records contained missing features? What percentage of records were removed?

In [48]:
contcols = ["age", "yredu", "capgain", "caploss", "workhr"]
catcols = ["work", "marriage", "occupation", "edu", "relationship", "sex"]
features = contcols + catcols
df = df[features]

In [49]:
missing = pd.concat([df[c] == " ?" for c in catcols], axis=1).any(axis=1)
df_with_missing = df[missing]
df_not_missing = df[~missing]

# Percentage of records removed
percentage = round((len(df_with_missing) / len(df)) * 100,2)

print("There were {} records with missing features.\n{}% of records were removed.".format(len(df_with_missing), percentage))

There were 1843 records with missing features.
5.66% of records were removed.

### Part (d) One-Hot Encoding [1 pt]

What are all the possible values of the feature "work" in `df_not_missing`? You may find the Python function `set` useful.

In [50]:
print("All the possible values of the feature work in df_not_missing is: ")

for item in list(set(df_not_missing["work"])):
    print(item)

All the possible values of the feature work in df_not_missing is:
 Self-emp-not-inc
 Local-gov
 Federal-gov
 Private
 State-gov
 Without-pay
 Self-emp-inc

We will be using a one-hot encoding to represent each of the categorical variables.
Our autoencoder will be trained using these one-hot encodings.

We will use the pandas function `get_dummies` to produce one-hot encodings
for all of the categorical variables in `df_not_missing`.

In [51]:
data = pd.get_dummies(df_not_missing)

In [52]:
data[:3]

,age,yredu,capgain,caploss,workhr,work_ Federal-gov,work_ Local-gov,work_ Private,work_ Self-emp-inc,work_ Self-emp-not-inc,...,edu_ Prof-school,edu_ Some-college,relationship_ Husband,relationship_ Not-in-family,relationship_ Other-relative,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,sex_ Female,sex_ Male
0,0.000031,0.000040,0.000062,0.0,0.00003,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,0.000040,0.000040,0.000000,0.0,0.00001,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
2,0.000030,0.000027,0.000000,0.0,0.00003,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1

### Part (e) One-Hot Encoding [2 pt]

The dataframe `data` contains the cleaned and normalized data that we will use to train our denoising autoencoder.

How many **columns** (features) are in the dataframe `data`?

Briefly explain where that number come from.

In [53]:
print("There are {} columns in the dataframe data.".format(len(data.columns)))

There are 57 columns in the dataframe data.

# Explanation

For one-hot encoding, all the possible unique values from **df_not_missing**  are now given their own column in the **data** dataframe.

### Part (f) One-Hot Conversion [3 pt]

We will convert the pandas data frame `data` into numpy, so that
it can be further converted into a PyTorch tensor.
However, in doing so, we lose the column label information that
a panda data frame automatically stores.

Complete the function `get_categorical_value` that will return
the named value of a feature given a one-hot embedding.
You may find the global variables `cat_index` and `cat_values`
useful. (Display them and figure out what they are first.)

We will need this function in the next part of the lab
to interpret our autoencoder outputs. So, the input
to our function `get_categorical_values` might not 
actually be "one-hot" -- the input may instead 
contain real-valued predictions from our neural network.

In [54]:
datanp = data.values.astype(np.float32)

In [65]:
cat_index = {}  # Mapping of feature -> start index of feature in a record
cat_values = {} # Mapping of feature -> list of categorical values the feature can take

# build up the cat_index and cat_values dictionary
for i, header in enumerate(data.keys()):
    if "_" in header: # categorical header
        feature, value = header.split()
        feature = feature[:-1] # remove the last char; it is always an underscore
        if feature not in cat_index:
            cat_index[feature] = i
            cat_values[feature] = [value]
        else:
            cat_values[feature].append(value)

def get_onehot(record, feature):
    """
    Return the portion of `record` that is the one-hot encoding
    of `feature`. For example, since the feature "work" is stored
    in the indices [5:12] in each record, calling `get_range(record, "work")`
    is equivalent to accessing `record[5:12]`.
    
    Args:
        - record: a numpy array representing one record, formatted
                  the same way as a row in `data.np`
        - feature: a string, should be an element of `catcols`
    """
    start_index = cat_index[feature]
    stop_index = cat_index[feature] + len(cat_values[feature])
    return record[start_index:stop_index]

def get_categorical_value(onehot, feature):
    """
    Return the categorical value name of a feature given
    a one-hot vector representing the feature.
    
    Args:
        - onehot: a numpy array one-hot representation of the feature
        - feature: a string, should be an element of `catcols`
        
    Examples:
    
    >>> get_categorical_value(np.array([0., 0., 0., 0., 0., 1., 0.]), "work")
    'State-gov'
    >>> get_categorical_value(np.array([0.1, 0., 1.1, 0.2, 0., 1., 0.]), "work")
    'Private'
    """
    # <----- TODO: WRITE YOUR CODE HERE ----->
    # You may find the variables `cat_index` and `cat_values` 
    # (created above) useful.
    
    # Calculate the onehot and compare to the values of the given feature (index)
    #print('np.argmax: {}'.format(np.argmax(onehot)))
    #print('cat_value feature: {}'.format(cat_values[feature]))
    
    return cat_values[feature][np.argmax(onehot)]

assert(get_categorical_value(np.array([0.1, 0., 1.1, 0.2, 0., 1., 0.]), "work") == 'Private')
assert(get_categorical_value(np.array([0., 0., 0., 0., 0., 1., 0.]), "work") == 'State-gov')

In [56]:
# more useful code, used during training, that depends on the function
# you write above

def get_feature(record, feature):
    """
    Return the categorical feature value of a record
    """
    onehot = get_onehot(record, feature)
    return get_categorical_value(onehot, feature)

def get_features(record):
    """
    Return a dictionary of all categorical feature values of a record
    """
    return { f: get_feature(record, f) for f in catcols }

### Part (g) Train/Test Split [3 pt]

Randomly split the data into approximately 70% training, 15% validation and 15% test.

Report the number of items in your training, validation, and test set.

In [79]:
# set the numpy seed for reproducibility
# https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.seed.html
np.random.seed(50)

big_data_split = round(len(datanp)*0.7)
small_data_split = round(len(datanp)*0.15)

# Additional code for sense of clarity
train_index = big_data_split
val_index = big_data_split + small_data_split

# Split the data
train_data = torch.utils.data.DataLoader(torch.utils.data.TensorDataset(torch.Tensor(datanp[:train_index])))
val_data = torch.utils.data.DataLoader(torch.utils.data.TensorDataset(torch.Tensor(datanp[train_index:val_index])))
test_data = torch.utils.data.DataLoader(torch.utils.data.TensorDataset(torch.Tensor(datanp[val_index:])))

# Print out data set lengths
print("Training dataset length (~70%): {} \nValidation dataset length (~15%): {} \nTest dataset length (~15%): {}".format(len(train_data), len(val_data), len(test_data)))

Training dataset length (~70%): 21503
Validation dataset length (~15%): 4608
Test dataset length (~15%): 4607

## Part 2. Model Setup [5 pt]

### Part (a) [4 pt]

Design a fully-connected autoencoder by modifying the `encoder` and `decoder`
below.

The input to this autoencoder will be the features of the `data`, with
one categorical feature recorded as "missing". The output of the autoencoder
should be the reconstruction of the same features, but with the missing
value filled in.

**Note**: Do not reduce the dimensionality of the input too much!
The output of your embedding is expected to contain information 
about ~11 features.

In [66]:
from torch import nn

class AutoEncoder(nn.Module):
    def __init__(self):
        super(AutoEncoder, self).__init__()
        self.encoder = nn.Sequential(
            nn.Linear(57, 30), # TODO -- FILL OUT THE CODE HERE!
            nn.ReLU(),
            nn.Linear(30, 11)
        )
        self.decoder = nn.Sequential(
            nn.Linear(11,30),
            nn.ReLU(),
            nn.Linear(30, 57),
            nn.Sigmoid() # get to the range (0, 1)
        )

    def forward(self, x):
        x = self.encoder(x)
        x = self.decoder(x)
        return x

### Part (b) [1 pt]

Explain why there is a sigmoid activation in the last step of the decoder.

(**Note**: the values inside the data frame `data` and the training code in Part 3 might be helpful.)

# Explanation

The sigmoid is for scaling the output from 0 to 1.

## Part 3. Training [18] 

### Part (a) [6 pt]

We will train our autoencoder in the following way:

- In each iteration, we will hide one of the categorical features using the `zero_out_random_features` function
- We will pass the data with one missing feature through the autoencoder, and obtain a reconstruction
- We will check how close the reconstruction is compared to the original data -- including the value of the missing feature

Complete the code to train the autoencoder, and plot the training and validation loss every few iterations.
You may also want to plot training and validation "accuracy" every few iterations, as we will define in
part (b). You may also want to checkpoint your model every few iterations or epochs.

Use `nn.MSELoss()` as your loss function. (Side note: you might recognize that this loss function is not
ideal for this problem, but we will use it anyway.)

In [ ]:
import sys

def zero_out_feature(records, feature):
    """ Set the feature missing in records, by setting the appropriate
    columns of records to 0
    """
    start_index = cat_index[feature]
    stop_index = cat_index[feature] + len(cat_values[feature]) 
    records[:, start_index:stop_index] = 0
    return records

def zero_out_random_feature(records):
    """ Set one random feature missing in records, by setting the 
    appropriate columns of records to 0
    """
    return zero_out_feature(records, random.choice(catcols))

def train(model, train_loader, valid_loader, num_epochs=5, learning_rate=1e-4):
    """ Training loop. You should update this."""
    torch.manual_seed(42)
    criterion = nn.MSELoss()
    optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)
    
    data_loader = [train_loader, valid_loader]
    train_loss, train_acc, val_loss, val_acc = list(), list(), list(), list()

    for epoch in range(num_epochs):
        loader_validation = False
        
        for loader in data_loader:
            train_loss_value, val_loss_value = 0, 0
            for data in loader:
                datam = zero_out_random_feature(data[0]) # zero out one categorical feature
                recon = model(datam)
                loss = criterion(recon, data[0])
                loss.backward()
                optimizer.step()
                optimizer.zero_grad()
                
                if not loader_validation:
                    train_loss_value += loss/len(loader)
                else:
                    val_loss_value += loss/len(loader)
                
                loader_validation = True
                
        torch.save(net.state_dict(), "./{}_{}_lab4.log".format(model, epoch))
                
        train_loss.append(train_loss_value)
        val_loss.append(val_loss_value)
        train_acc(get_accuracy(model, train_loader))
        val_acc(get_accuracy(model, valid_loader))
        
        print('Epoch: {} \nTraining Loss: {} \nValidation Loss: {} \nTraining Accuracy: {} \nValidation Accuracy: {}'.format(epoch, train_loss, val_loss, train_acc, val_acc))
        
                    
           
        
auto_encoder = AutoEncoder()
train(auto_encoder, train_data, val_data)

### Part (b) [3 pt]

While plotting training and validation loss is valuable, loss values are harder to compare
than accuracy percentages. It would be nice to have a measure of "accuracy" in this problem.

Since we will only be imputing missing categorical values, we will define an accuracy measure.
For each record and for each categorical feature, we determine whether
the model can predict the categorical feature given all the other features of the record.

A function `get_accuracy` is written for you. It is up to you to figure out how to
use the function. **You don't need to submit anything in this part.**
To earn the marks, correctly plot the training and validation accuracy every few 
iterations as part of your training curve.

In [ ]:
def get_accuracy(model, data_loader):
    """Return the "accuracy" of the autoencoder model across a data set.
    That is, for each record and for each categorical feature, 
    we determine whether the model can successfully predict the value
    of the categorical feature given all the other features of the 
    record. The returned "accuracy" measure is the percentage of times 
    that our model is successful.
        
    Args:
       - model: the autoencoder model, an instance of nn.Module
       - data_loader: an instance of torch.utils.data.DataLoader

    Example (to illustrate how get_accuracy is intended to be called.
             Depending on your variable naming this code might require
             modification.)

        >>> model = AutoEncoder()
        >>> vdl = torch.utils.data.DataLoader(data_valid, batch_size=256, shuffle=True)
        >>> get_accuracy(model, vdl)
    """
    total = 0
    acc = 0
    for col in catcols:
        for item in data_loader: # minibatches
            inp = item.detach().numpy()
            out = model(zero_out_feature(item.clone(), col)).detach().numpy()
            for i in range(out.shape[0]): # record in minibatch
                acc += int(get_feature(out[i], col) == get_feature(inp[i], col))
                total += 1
    return acc / total

### Part (c) [4 pt]

Run your updated training code, using reasonable initial hyperparameters.

Include your training curve in your submission.

### Part (d) [5 pt]

Tune your hyperparameters, training at least 4 different models (4 sets of hyperparameters).

Do not include all your training curves. Instead, explain what hyperparameters
you tried, what their effect was, and what your thought process was as you 
chose the next set of hyperparameters to try.

## Part 4. Testing [12 pt]

### Part (a) [2 pt]

Compute and report the test accuracy.

### Part (b) [4 pt]

Based on the test accuracy alone, it is difficult to assess whether our model
is actually performing well. We don't know whether a high accuracy is due to
the simplicity of the problem, or if a poor accuracy is a result of the inherent
difficulty of the problem.

It is therefore very important to be able to compare our model to at least one
alternative. In particular, we consider a simple **baseline**
model that is not very computationally expensive. Our neural network
should at least outperform this baseline model. If our network is not much
better than the baseline, then it is not doing well.

For our data imputation problem, consider the following baseline model:
to predict a missing feature, the baseline model will look at the **most common value** of the feature in the training set. 

For example, if the feature "marriage" is missing, then this model's prediction will be the most common value for "marriage" in the training set, which happens to be "Married-civ-spouse".

What would be the test accuracy of this baseline model?

### Part (c) [1 pt]

How does your test accuracy from part (a) compared to your basline test accuracy in part (b)?

### Part (d) [1 pt]

Look at the first item in your test data. 
Do you think it is reasonable for a human
to be able to guess this person's education level
based on their other features? Explain.

### Part (e) [2 pt]

What is your model's prediction of this person's education
level, given their other features?

### Part (f) [2 pt]

What is the baseline model's prediction
of this person's education level?